.header-containers {
    position: relative;
    width: 100%;


}

.background-image img{
    position: absolute;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}



.register-contents {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    text-align: center;
    color: orange;
    margin-top: 0;
}
button {
    background-color: orange;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    box-shadow: 0 2px 0 orange;
    position: relative;
    margin-top: 20%;
    margin-left: 1%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9900;
}

button:active {
    box-shadow: 0 2px 0 white;
}

h2{
    font-size: 120px;
    text-align: center;
margin-top: 0;
margin-bottom: 20px;
}

.formulier-register{
    font-size: 30px;
    margin-top: 150px;
    padding: 10px;

}
.formulier-register input{
    font-size: 15px;
    padding: 5px;
    border-radius: 20px;
}