


.post-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 50px;
}


    .post-card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        flex: 1 1 calc(33.333% - 2rem);
        box-sizing: border-box;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.favorite-image {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;


}

.extra-info {
    text-align: left;
    margin-top: 1rem;
}

.extra-info a {
    color: #336699;
    text-decoration: none;
}

.extra-info a:hover {
    text-decoration: underline;
}


.favorieten-container  {
    padding: 2rem;
    text-align: center;
}

.favorieten-container h1{
margin-bottom: 120px;
    font-size: 80px;
    color: #ff6600;


}

.favorieten-lijst {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.favoriet-kaart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
border: 2px solid darkorange;
    border-radius: 10px;
    padding: 1rem;
    width: 300px;
    background-color: transparent;
}

.favoriet-kaart img {
    border-radius: 6px;
    margin-bottom: 10px;
}

.detail-link-button {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #007bff;
    font-size: 15px;
    border: 3px solid orange;
    border-radius: 15px;
  background: transparent;
   width: 60%;
cursor: pointer;
}

.detail-link-button:hover {
transform: scale(1.5);
transform-style: preserve-3d;

}

.no-favorite-button {

    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.no-favorite-button:hover {

    transform: scale(1.5);
}


.header-container-1 {
    width: 100%;
    margin-top: 10px;


}

.favorite-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.favorieten-container {
    margin-top: 20px;
    position: relative;
    z-index: 1;


}

.favoriet-kaart h3{

    color: #ff6600;


}
